# TOKEN do seu bot gerado pelo BotFather
TELEGRAM_BOT_TOKEN=

# Sistema de eventos a ser utilizado (open_event ou meetup)
EVENT_EXTRACTOR=open_event

# URL para extrair os eventos (Open Event ou Meetup)
URL=

# Fuso horário do bot (padrão: America/Sao_Paulo)
# Qualquer timezone válida do IANA, ex: Europe/Lisbon, America/New_York
TIMEZONE=America/Sao_Paulo

# ID do grupo no Telegram onde o bot mandará as mensagens agendadas
GROUP_CHAT_ID=
